ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
}

:root {
    --link-active-color: #2196f3;
    --link-color: #212121;
    --text-color: #757575;
    --button-color: #f5f4fa;
}
p {
    color: var(--text-color);
}

/*baner section button*/
.button-request {
    background-color: var(--link-active-color);
    border: none;
    color: var(--button-color);
}
.button-request:hover,
.button-request:focus {
    color: var(--text-color);
    background-color: var(--button-color);
}

/*header*/

/*logo section*/
.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--link-active-color);
}
.logo-studio {
    color: #000000;
}
/*navigation*/
.navigation .link {
    color: var(--link-color);
}
.navigation .link:hover,
.navigation .link:focus {
    color: var(--link-active-color);
}
.navigation {


    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--link-color);
}

.mail {

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
}
/*contacts*/
.phone {

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
}

/*main*/

/*button*/
.filter {
    color: var(--link-color);
}

button {
    background-color: var(--button-color);
    border: none;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
}

.filter:hover,
.filter:focus {
    color: var(--button-color);
    background-color: var(--link-active-color);
}
.project{

font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.services{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
}
.address{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
.city{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--button-color);
}